* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* chairs-top.jpg */

#chairs-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#chairs-top {
    height: 600px;
    width: 100%;
    background: url('../images/chairs-top.jpg') no-repeat center center;
    /* animates zoom effect on landing page*/
    animation-name: chairs-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creat the level of zoom for chairs-top.jpg */
@keyframes chairs-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}